// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';

// NAVBAR

#ms-navbar {
    background: $firstBlue;
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
}
   
.nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #30a1ce, #51c0ec);
    box-shadow:  4px 4px 8px #0d97ce,
                    -4px -4px 8px #61c6ee;
    a {
        color: floralwhite;
    }
}
#ms-navbar .navbar-collapse a:hover {
    color: rgb(192, 214, 226);
    border-bottom: 1px solid rgb(192, 214, 226);
}

#ms-navbar .navbar-collapse a.active {
    color: rgb(211, 232, 241);
}

#ms-navbar .nav-item {
    margin : auto 4px;
}
#ms-navbar a {
    padding-left:12px;
    padding-right:12px;
    margin-right: 10px;
}

.navbar-toggler{
    background-color:rgb(211, 232, 241);
    border: rgb(211, 232, 241);
}

// JUMBOTRON

.jumbotron {
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.ms-jumbotron-container {
    width: 70%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    font-size: large;
}

@media only screen and (max-width: 800px) {
    .ms-jumbotron-container {
        width: 100%;
    }
}

// CARD SECTION
.ms-card-section{
    background-color: #0d97ce;
}
.ms-card-h3{
    padding: 30px 0 20px 0;
    color: floralwhite;
}

.ms-cardbox{
    display: flex;
    justify-content: space-around;

}
.ms-card{
    width: 20vw;
    border: 1px  solid #0887b9;
    background-color: #0887b9;
    color: antiquewhite;
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    .card-img-top{

            width: 65%;
            border-radius: 50%;
            margin: 0 auto;
            box-shadow: 0 0 10px rgba(0,0,0,.2);

    }
}

@media only screen and (max-width: 1000px) {
    .ms-cardbox{
        display: block;
        justify-content: unset;
    }

    .ms-card{
        width: 100%;
        margin-bottom: 15px;
    }
}
