// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';

// .ms-navbar{

//     .navbar-toggler{
//         color:floralwhite;
//         border: floralwhite;
//     }

//     .navbar-toggler-icon{
//         background-image: floralwhite;
//     }
//     background-color: $firstBlue;
//     ul {
//         li{
//             a{
//                 color: floralwhite;
//                 border: 1px solid floralwhite;
//                 border-radius: 10px;
//                 margin: 10px;
//                 text-align: center;
//             }
//         }
//     }
// }

#ms-navbar {
    background: $firstBlue;
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
}
   
.nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #30a1ce, #51c0ec);
    box-shadow:  4px 4px 8px #0d97ce,
                    -4px -4px 8px #61c6ee;
    a {
        color: floralwhite;
    }
}
#ms-navbar .navbar-collapse a:hover {
    color: rgb(192, 214, 226);
    border-bottom: 1px solid rgb(192, 214, 226);
}

#ms-navbar .navbar-collapse a.active {
    color: rgb(211, 232, 241);
}

#ms-navbar .nav-item {
    margin : auto 4px;
}
#ms-navbar a {
    padding-left:12px;
    padding-right:12px;
    margin-right: 10px;
}

.navbar-toggler{
    background-color:rgb(211, 232, 241);
    border: rgb(211, 232, 241);

    .navbar-toggler-icon{
        
    }
}


